*.class
*.iml
*.idea
# Package Files #
*.jar

*.DS_Store

# Ignore target at the top level
/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/

# 'target' in any sub folder
target/

*.xml